* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: $font-family-default;
  font-size: 16px;
  line-height: 24px;
  color: $color-primary;
}

:is(p, div) {
  font-size: 1.15rem;
}

p {
  margin: 20px 0;
}

.container li p {
  margin: 0;
}

.container {
  container-type: inline-size;
}

h1, h2, h3 {
  margin: 0;
  font-family: $font-family-header;
}

.main {
  &--home {
    min-height: 100dvh;
    background-image: url('../images/health-food.jpg');
    background-size: cover;
  }
}

.home-grid {
  position: relative;
  padding: 75px 50px;
  text-align: center;
  
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    position: relative;
    z-index: 1;
    width: 90%;
    padding: 30px;
    color: $color-white;
    background-color: $color-primary;
    border-left: 20px solid $color-white;

    @container (min-width: #{$cq-lg}) {
      width: 80%;
    }
  }

  &__text {
    position: relative;
    z-index: 1;
    float: right;
    width: 90%;
    padding: 20px;
    background-color: $color-secondary;
    border-right: 10px solid $color-black;

    
    @container (min-width: #{$cq-lg}) {
      width: 80%;
    }
  }

  &__btn {
    position: relative;
    z-index: 1;
    width: 100%;
  }
}

@supports (display:grid) {
  @media (min-width: $breakpoint-lg) and (min-height: 769px) {
    .home-grid {
      display: grid;
      grid-template-rows: 2vh 7vh 20vh 2vh 7vh 20vh 7vh 10vh;
      grid-template-columns: 25px repeat(3, minmax(100px, 1fr)) 50px minmax(100px, 1fr) repeat(3, minmax(100px, 1fr));
      padding: 0;
    
      &__img {
        grid-area: 1 / 2 / 9 / 8;
      }

      &__title {
        grid-column: 5 / 9;
        width: 100%;

        &--one {
          grid-row: 2;
        }

        &--two {
          grid-row: 5;
        }
      }

      &__text {
        grid-column: 6 / 10;
        width: 100%;

        &--one {
          grid-row: 3;  
        }

        &--two {
          grid-row: 6;
        }
      }

      &__btn {
        grid-row: 7;
        grid-column: 1 / 6;
        width: 100%;
      }
    }
  }
}

