<footer class="footer">
    <div class="container d-flex flex-column flex-md-row py-3">
        <img class="my-0 me-auto" src="./assets/images/cuinuoc.png" alt="Logo Cuinuoc">
        <nav class="nav d-flex align-items-center me-md-auto">
            <a class="nav__link" href="./index.html">Índex</a>
            <a class="nav__link" href="./chefs.html">Chefs</a>
            <a class="nav__link" href="./article.html">Plat Estrella</a>
            <a class="nav__link" href="./contact.html">Contacte</a>
        </nav>
        <div class="social">
            <a href="#" class="social__link social__link--facebook">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
            <a href="#" class="social__link social__link--twitter">
                <i class="fa-brands fa-square-x-twitter"></i>
            </a>
            <a href="#" class="social__link social__link--instagram">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
        </div>
    </div>
</footer>