<header class="header">
    <div class="container d-flex flex-column flex-md-row py-3 mb-3">
      <a class="my-0 me-auto" href="./index">
        <img src="./assets/images/cuinuoc.png" alt="Logo Cuinuoc">
      </a>
      <nav class="nav">
        <a class="nav__link" href="./index.html">Índex</a>
        <a class="nav__link" href="./chefs.html">Chefs</a>
        <a class="nav__link" href="./article.html">Plat Estrella</a>
        <a class="nav__link" href="./contact.html">Contacte</a>
      </nav>
    </div>
</header>